
body {
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}

.login {
    margin-top: 50px;
}

.messages-container {
    height: 500px;
    border: 1px solid #DDD;
    position: relative;
}

.messages {
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
    height: 498px;
    width: 80%;
}

.user-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 498px;
    overflow: auto;
    background: #EFEFEF;
    margin: 0;
    padding: 20px;
    border-left: 1px solid #DDD;
}

.user-list li {
    display: block;
    color: orange;
    font-weight: bold;
}

.username {
    font-weight: bold;
    color: orange;
}

.timestamp {
    font-size: 12px;
    color: #CCC;
}

.add-message {
    margin-top: 20px;
}

li.away {
    opacity: .5;
}

.away span {
    color: #666;
    font-style: italic;
    font-weight: normal;
}

.or,
#login-email,
#login-password,
#login-buttons-password,
#login-other-options {
    display: none;
}